@using TempDataDemo.Models
@using TempDataDemo.Data
@model HomePageViewModel

<div class="row">
    @if (!String.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-success" role="alert">
            @Model.Message
        </div>
    }
    <form method="post" action="/home/addperson">
        <div class="col-md-3">
            <input type="text" name="firstName" placeholder="First Name" class="form-control"/>
        </div>
        <div class="col-md-3">
            <input type="text" name="lastName" placeholder="Last Name" class="form-control"/>
        </div>
        <div class="col-md-3">
            <input type="text" name="age" placeholder="Age" class="form-control"/>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-lg">Add</button>
        </div>
    </form>
    <table class="table table-bordered" style="margin: 20px;">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        @foreach (Person person in Model.People)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Age</td>
            </tr>
        }
    </table>
</div>